@import "~react-image-gallery/styles/scss/image-gallery.scss";

.image-gallery-svg {
  stroke: white;
}

.image-gallery-thumbnail {
  filter: saturate(0);
  &.active {
    border: 1px solid transparent;
    filter: saturate(1);
  }
}

.image-gallery-content.right .image-gallery-slide .image-gallery-image {
  width: 60vw;
  height: 60vh;
  object-fit: contain;
}

.image-gallery-slides {
  background-color: black;
}

.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 769px) {
  .image-gallery {
    display: block;
    max-width: 300px;
  }

  .image-gallery-thumbnails {
    overflow-x: scroll;
  }

  .image-gallery-content.fullscreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-gallery-thumbnail-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
}
