.testimonials-background {
  background-image: url("../../images/aspas.svg");
  background-repeat: no-repeat;
  background-size: 30vmax;
  background-position-x: 75vw;
  background-position-y: center;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 100px;
}

.BrainhubCarousel__container {
  width: 60vw;
  background-image: url("../../images/aspas.svg");
  background-repeat: no-repeat;
  background-size: 4vmax;
  background-position-y: calc(50% - 100px);
}

.testimonials {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3vmin;
  font-size: 3vmin;

  .text {
    text-align: start;
    font-family: var(--primary-font);
    margin-bottom: 12px;
  }

  .author {
    margin-bottom: 12px;
    text-align: start;
    font-family: var(--secondary-font);
    background-color: var(--dark-gray);
    color: var(--off-white);
  }
}

.gold {
  color: #bf9000;
}

@media (max-width: 769px) {
  .testimonials-background {
    background-image: none;
    justify-content: center;
    padding: 0;
  }

  .testimonials {
    font-size: 20px;
    align-items: center;

    .text,
    .author {
      text-align: center;
    }
  }

  .BrainhubCarousel__container {
    width: 80vw;
  }
}
